.rce-citem {
	background-color: #123312;
}

.rce-citem-body--top-title,
.rce-citem-body--bottom-title,
.rce-citem-body--top-time {
	color: #f9f9f9;
}

.rce-citem-body--top-title {
	font-weight: bold;
}

.rce-citem {
	border-radius: 0.5rem;
	border: 1px solid #f9f9f9;
	margin-top: 3px;
	margin-bottom: 3px;
}

.rce-citem:hover {
	background-color: #002700 !important;

	.rce-citem-body--top-title,
	.rce-citem-body--bottom-title,
	.rce-citem-body--top-time {
		color: white;
	}
}

.rce-citem-body--bottom-status span {
	background-color: #fcb316;
	color: black;
	border: 1px solid black;
}

.rce-avatar-container {
	border: 2px solid #f9f9f9;
	border-radius: 100%;
}
