.chat-container {
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    border-radius: 25px;
    height: calc(85vh - 40px);
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
}

.groupinfo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    ;
}

.group-title {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.member-count {
    margin: 0;
}

.chat-box {
    border: 1px solid darkgray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(219, 219, 219);
}

.form-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid darkgray;
    border-right: none;
    outline: none;
}

.form-container button[type="submit"] {
    background-color: #03254c;
    color: white;
    border: 1px solid #03254c;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.form-container button[type="submit"]:hover {
    background-color: #1c3a5d;
}

.rce-mbox-text {
    font-size: 12px !important;
}

.rce-mbox {
    padding: 4px 8px 0px !important;
}

.rce-smsg-text {
    font-size: 10px !important;
}

.rce-smsg {
    padding: 4px 8px !important;
}